@import "tailwindcss";

@theme {
  --font-outfit: var(--font-outfit);
  --font-ovo: var(--font-ovo);
  --color-lightHover: #fcf4ff;
  --color-darkHover: #2a004a;
  --color-darkTheme: #11001f;
}

@variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

/* Services grid fix */
.services-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 640px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .services-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}